//- Copyright 2016 CHEN Xianren. All rights reserved.
extends ../public/_layout.pug
block hd
  title 个人简介
block bd
  .bd(v-cloak)
    top
    userhead
    .ww-wrap.user-wrap
      .user-cont-wrap.cont-wrap.container
        introduction
    foot
