extends ../public/_layout.pug

block hd
  title 认证
block bd
  .bd(v-cloak)
    top
    userhead
    .ww-wrap.user-wrap.bg-white
      .user-cont-wrap.cont-wrap.container
        .row-setting
          bg
          router-view
    foot
