.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-default {
  border-color: #dce0e0;
  > .panel-heading {
    color: #333333;
    background-color: #EDEFED;
    border-color: #dce0e0;
  }
}

.panel-heading {
  padding: 15px;
  border-bottom: 1px solid transparent;
}
.panel-body {
  padding: 15px;
}

.user-wrap{
  .user-cont-wrap {
    padding-top: 20px;
    width: 980px;
  }
}
.coupon-code-con {
  padding: 15px 0;
}
.nav-wrap {
  margin-bottom: 30px;
  .pull-right {
    padding-top: 6px;
  }
}
.tickets-nav {
  border-bottom: 1px solid #dce0e0;
  li {
    display: inline-block;
    margin-right: 30px;
    &.active {
      a {
        color: #26a7c7;
        text-decoration: none;
        border-bottom-color: #26a7c7
      }
    }
    a {
      color: #565a5c;
      display: block;
      padding: 6px 12px;
      border-bottom: 2px solid transparent;
      -webkit-transition: all .4s ease-out;
      transition: all .4s ease-out
    }
  }
}
.no-tickets {
  padding: 0;
  border: 0 none;
  font-size: 20px;
  margin: 20px 0;
  background-color: transparent;
  text-align:center;
}
.ticket-list {
  li {
    display: inline-block;
    width: 50%;
    text-align: center;
  }
  .ticket {
    background: url('http://wallwa.com/images/coupon/coupon-ticket-bg.png') no-repeat;
    width: 327px;
    height: 132px;
    margin-bottom: 30px;
    padding: 20px 15px;
    position: relative;
    display: inline-block;
    .money {
      position: absolute;
      top: 15px;
      right: 30px;
      font-size: 20px;
      color: #ed5565;
      width: 30%;
      text-align:right;
      span {
        font-size:50px;
      }
      i {
        font-style: normal;
      }
    }
    .info {
      position: absolute;
      text-align: left;
      font-size: 12px;
      width: 70%;
      padding-left: 15px;
      span {
        display:block;
      }
      .name {
        color: #ed5565;
        margin-bottom: 15px;
      }
      .title {
        font-size: 18px;
        color: #ed5565;
        margin-bottom: 12px;
        white-space: nowrap;
      }
      .time {
        color: #565a5c;
      }
    }
  }
}
.coupon-ticket-con {
  display:none;
  &.active {
    display:block;
    text-decoration: none;
  }
}
