{
  "comments": false,
  "plugins": [
    "transform-runtime",
    ["component",{
      "libraryName": "iview",
      "libraryDirectory": "src/components"
    }]
  ],
  "presets": ["es2015", "stage-2"]
}
