/*!
 * wallwa.com v1.0
 * Copyright wallwa.com
 * Copyright 2011-2017
 * css atom operate
 */

.mt-1 {
  margin-top: -1px;
}

.mt-2 {
  margin-top: -2px;
}

.mt-3 {
  margin-top: -3px;
}

.mt0 {
  margin-top: 0;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mt30 {
  margin-top: 30px;
}

.mt95 {
  margin-top: 95px;
}

.mr0 {
  margin-right: 0;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr20 {
  margin-right: 20px;
}

.mr25 {
  margin-right: 25px;
}

.mr35 {
  margin-right: 35px;
}

.mr40 {
  margin-right: 40px;
}

.mr60 {
  margin-right: 60px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb2 {
  margin-bottom: 2px;
}

.mb0 {
  margin-bottom: 0;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb35 {
  margin-bottom: 35px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb65 {
  margin-bottom: 65px;
}

.mb95 {
  margin-bottom: 95px;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

.ml30 {
  margin-left: 30px;
}

.ml-15 {
  margin-left: -15px !important;
}

.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pt20 {
  padding-top: 20px;
}

.pt46 {
  padding-top: 46px;
}

.pr5 {
  padding-right: 5px;
}

.pr10 {
  padding-right: 10px;
}

.pr20 {
  padding-right: 20px;
}

.pb0 {
  padding-bottom: 0 !important;
}

.pb5 {
  padding-bottom: 5px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb20 {
  padding-bottom: 20px;
}

.pl5 {
  padding-left: 5px;
}

.pl10 {
  padding-left: 10px;
}

.pl15 {
  padding-left: 15px;
}

.pl20 {
  padding-left: 20px;
}

.pl90 {
  padding-left: 90px;
}

.pl85 {
  padding-left: 85px;
}

.pl110 {
  padding-left: 110px;
}

.plr15 {
  padding: 0 15px;
}

/*颜色定义*/
.color-ff {
  color: #ffffff;
}

.color-tl { /*tex;t-color-light*/
  color: #82888a;
}

.color-tb { /*tex;t-color-base*/
  color: #565a5c;
}

.color-d1 { /*danger*/
  color: #ed5565;
}

.color-p1 { /*primary*/
  color: #26a7c7;
}

.color-s1 { /*success*/
  color: #76a549;
}

.color-gold {
  color: #c19305;
}

.color-bd1 {
  color: #dce0e0;
}

.color-blue {
  color: blue;
}

.color-lightblue {
  color: lightblue;
}

.f5 {
  background-color: #f5f5f5;
}

.fw {
  font-weight: 700;
}

.max-w150 {
  max-width: 150px;
}

.dn {
  display: none;
}

.db {
  display: block;
}

.w300 {
  width: 300px !important;
}

.w110 {
  width: 110px !important;
}

.w120 {
  width: 120px !important;
}

.mauto {
  margin: 0 auto;
}

.light-color {
  color: #82888a;
}

.w760 {
  width: 760px;
}

.relative {
  position: relative;
}

.block {
  display: block;
}

.h100 {
  height: 100%;
}

.default-link {
  color: #565a5c;
  text-decoration: none;
}
