//- Copyright 2016 CHEN Xianren. All rights reserved.

extends public/_layout.pug

block hd
  title 墙蛙-个性衍生品定制-唤醒你的生活
block bd
  .bd(v-cloak)
    nav-bar
    wahead
    banner
    star
    activity
    shop
    news
    foot
