//- Copyright 2016 CHEN Xianren. All rights reserved.

extends public/_layout.pug

block hd
  title 墙蛙商店(本地测试)
block bd
  .bd(v-cloak)
    .ww-wrap.product-wrap.public-pro-wrap
      category
      filter-select
    nav-bar
