.wa-tips-mask{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: rgba(0,0,0,0.8);
}
.wa-tips-mask .tips-container{
  transition: all .5s;
  width: 500px;
  padding-bottom: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 2px;
  transform:translate(-50%, -50%);
  background:#fff;
}
.wa-tips-mask .tips-container .tips-title{
  width: 100%;
  line-height: 60px;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  color: #565A5C;
}
.wa-tips-mask .tips-container .tips-close-btn{
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  right: 10px;
  top: 8px;
  color: #aaaaaa;
  font-size: 26px;
}
.wa-tips-mask .tips-container .tips-content{
  font-size: 14px;
  color: #565A5C;
  text-align: center;
}
.wa-tips-mask .tips-container .tips-btn-group{
  margin-top: 44px;
  text-align: center;
}
.wa-tips-mask .tips-container .tips-btn-group span{
  text-align: center;
  display: inline-block;
  width: 120px;
  cursor: pointer;
  height: 34px;
  line-height: 32px;
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 16px;
}
.wa-tips-mask .tips-container .tips-btn-group .view-btn{
  border: 1px solid #c4c4c4;
  color: #565A5C;
  margin-right: 10px;
}
.wa-tips-mask .tips-container .tips-btn-group .use-btn{
  background: #f05950;
  color: #ffffff;
}
.wa-tips-mask .tips-container .tips-btn-group .confirm-btn{
  width: 160px;
  background: #26A7C7;
}
.scale-enter-active,.scale-leave-active {
  transition: all .3s ease;
}
.scale-enter, .scale-leave-active {
  opacity: 0;
  .coupon-wrapper {
    opacity: 0 !important;
    transform: scale(0.3) !important;
  }
}
.coupon-mask{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: rgba(0,0,0,0.8);
  .coupon-wrapper{
    transition: all .3s;
    width: 500px;
    padding-bottom: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    border-radius: 2px;
    margin-left: -250px;
    //transform:translateX(-50%);
    background:#fff;
    .receive-btn{
      display: block;
      width: 280px;
      height: 45px;
      line-height: 45px;
      text-align: center;
      color: #fff;
      background: #18a7c9;
      cursor: pointer;
      border-radius: 2px;
      margin: 40px auto 0 auto;
    }
    .ticket-content{
      width: 360px;
      margin: 0 auto;
      ul{
        margin: 0;
        padding:0;
      }
      .ticket-item{
        background: url('~images/coupon-bg.png') no-repeat;
        height: 129px;
        background-size: contain;
        margin: 0 auto 20px auto;
        padding: 15px;
        box-sizing: border-box;
        .ticket-info{
          height: 100px;
          width: 192px;
          border:2px solid #fff;
          color: #fff;
          font-size: 14px;
          text-align: center;
          float: left;
          .ticket-remark{
            margin: 5px 0;
          }
          h3{
            margin: 5px 0 12px 0;
            font-size: 28px;
          }
          .deadline{
            height: 24px;
            line-height: 20px;
            border-top: 2px solid #fff;
          }
        }
        .ticket-money{
          float: right;
          width: 105px;
          height: 105px;
          text-align: center;
          line-height: 105px;
          font-size: 64px;
          color: #f05950;
          i{
            font-style: normal;
            font-size: 28px;
            font-family: fantasy;
          }
        }
      }
    }
    .close-btn{
      position: absolute;
      display: inline-block;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      cursor: pointer;
      right: 10px;
      top:10px;
      font-size: 26px;
      color: #aaa;
      &:hover{
        color: #565a5c;
      }
    }
    .title{
      width: 100%;
      line-height: 80px;
      text-align: center;
      font-size: 20px;
      color: #565A5C;
    }
  }
}
