//- Copyright 2016 CHEN Xianren. All rights reserved.

include _bootstrap.pug

doctype html
html(lang='zh-CN')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    link(href='/favicon.ico' rel='icon')
    link(href='/favicon.ico' rel='shortcut icon')
    block hd
      title &#12288;
  body
    block bd
