@import "../../../../../lib/css/jquery.Jcrop.css";
@import "../../../../../lib/css/cxcalendar.css";
@import "../_ww-variables";
@import "../bootstrap/mixins/_text-truncate";
@import "../bootstrap/mixins/clearfix";
@import "../mixins/opacity";
.warp {
  padding-bottom: 65px;
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
