.assist-wrap {
  .assist-hd {
    background-repeat: no-repeat;
    height: 540px;
    overflow: hidden;
    color: #ffffff;
    font-size: 0;
    &.about-hd {
      background-image: url('~images/assist/about/hd.jpg')
    }
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }
}
