/*!
 * wallwa.com v1.0
 * Copyright wallwa.com
 * Copyright 2011-2017
 */

@import 'ww-variables';

//wallwa webfont icon
@import 'ww-font';

body {
  min-width: 0;
  background-color: #fff;
  color: $text-color-base;
}
