//- Copyright 2016 CHEN Xianren. All rights reserved.

extends public/_layout.pug

block hd
  title 首页
block bd
  .bd(v-cloak)
    top
    coupon
    banner
    //custom
    //customize
    star
    goodlife
    shop
    news
    foot
