.m-disney {
  p {
    font-size: 12px;
    color: #82888a;
    line-height: 20px;
  }
  .pb15 {
    padding-bottom:15px;
  }
  .pt35 {
    padding-top:35px;
  }
  .pl15 {
    padding-left: 15px;
  }
  .pr15 {
    padding-right: 15px;
  }
}
