// Copyright 2016 CHEN Xianren. All rights reserved.

.navbar-nav .nav-text
  display block
  margin 0
  padding .425rem 0
  .navbar-light &
    color rgba(0,0,0,.8)
  .navbar-dark &
    color rgba(255,255,255,1)
