@font-face {
  font-family: 'wallwa_webfont';
  src: url('fonts/wallwa_webfont.eot?20zcqc');
  src: url('fonts/wallwa_webfont.eot?20zcqc#iefix') format('embedded-opentype'), url('fonts/wallwa_webfont.ttf?20zcqc') format('truetype'), url('fonts/wallwa_webfont.woff?20zcqc') format('woff'), url('fonts/wallwa_webfont.svg?20zcqc#wallwa_webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="wa-"],
[class*=" wa-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wallwa_webfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wa-wallet:before {
  content: "\e952";
}

.wa-delivery:before {
  content: "\e953";
}

.wa-address:before {
  content: "\e954";
}

.wa-about2:before {
  content: "\e955";
}

.wa-customer-service:before {
  content: "\e956";
}

.wa-my-shop:before {
  content: "\e957";
}

.wa-fans:before {
  content: "\e958";
}

.wa-follow:before {
  content: "\e959";
}

.wa-invitation:before {
  content: "\e95a";
}

.wa-coupons:before {
  content: "\e95b";
}

.wa-plus-o:before {
  content: "\e600";
}

.wa-minus-o:before {
  content: "\e601";
}

.wa-left:before {
  content: "\e602";
}

.wa-right:before {
  content: "\e603";
}

.wa-qq:before {
  content: "\e604";
}

.wa-weibo:before {
  content: "\e605";
}

.wa-douban:before {
  content: "\e606";
}

.wa-wechat:before {
  content: "\e607";
}

.wa-wechat-pay:before {
  content: "\e608";
}

.wa-caret-up:before {
  content: "\e609";
}

.wa-caret-down:before {
  content: "\e60a";
}

.wa-check-tri:before {
  content: "\e60b";
}

.wa-camera:before {
  content: "\e60c";
}

.wa-alipay:before {
  content: "\e60d";
}

.wa-qq-circle:before {
  content: "\e60e";
}

.wa-weibo-circle:before {
  content: "\e60f";
}

.wa-douban-circle:before {
  content: "\e610";
}

.wa-wechat-circle:before {
  content: "\e611";
}

.wa-wallwa-logo:before {
  content: "\e612";
}

.wa-menu-combo:before {
  content: "\e613";
}

.wa-menu:before {
  content: "\e614";
}

.wa-expand:before {
  content: "\e615";
}

.wa-shopping-cart:before {
  content: "\e616";
}

.wa-shopping-cart-fill:before {
  content: "\e617";
}

.wa-caret-left:before {
  content: "\e618";
}

.wa-caret-right:before {
  content: "\e619";
}

.wa-compress:before {
  content: "\e61a";
}

.wa-woman:before {
  content: "\e61b";
}

.wa-check-circle-o:before {
  content: "\e620";
}

.wa-check-circle:before {
  content: "\e621";
}

.wa-discount-o:before {
  content: "\e623";
}

.wa-discount:before {
  content: "\e624";
}

.wa-share:before {
  content: "\e625";
}

.wa-share-fill:before {
  content: "\e626";
}

.wa-times-circle:before {
  content: "\e627";
}

.wa-photo:before {
  content: "\e628";
}

.wa-plus:before {
  content: "\e629";
}

.wa-close:before {
  content: "\e62a";
}

.wa-rotate-left:before {
  content: "\e62b";
}

.wa-rotate-right:before {
  content: "\e62c";
}

.wa-times-circle-o:before {
  content: "\e62f";
}

.wa-trash:before {
  content: "\e632";
}

.wa-file:before {
  content: "\e635";
}

.wa-info:before {
  content: "\e636";
}

.wa-truck:before {
  content: "\e637";
}

.wa-angle-down:before {
  content: "\e800";
}

.wa-user-status:before {
  content: "\e901";
}

.wa-heart-fill:before {
  content: "\e902";
}

.wa-heart:before {
  content: "\e903";
}

.wa-qzone:before {
  content: "\e904";
}

.wa-cloud-upload:before {
  content: "\e905";
}

.wa-qzone-circle:before {
  content: "\e906";
}

.wa-cloud-update:before {
  content: "\e907";
}

.wa-picture-o:before {
  content: "\e908";
}

.wa-buyihua:before {
  content: "\e909";
}

.wa-youkuanghua:before {
  content: "\e90a";
}

.wa-huaxin:before {
  content: "\e90b";
}

.wa-juanzhouhua:before {
  content: "\e90c";
}

.wa-smile-o:before {
  content: "\e90d";
}

.wa-home:before {
  content: "\e90e";
}

.wa-angle-left:before {
  content: "\e90f";
}

.wa-angle-right:before {
  content: "\e910";
}

.wa-baozhen:before {
  content: "\e911";
}

.wa-all-product:before {
  content: "\e912";
}

.wa-about:before {
  content: "\e913";
}

.wa-lvxingbei:before {
  content: "\e914";
}

.wa-fanbudai:before {
  content: "\e915";
}

.wa-T-Shirt:before {
  content: "\e916";
}

.wa-renzheng:before {
  content: "\e917";
}

.wa-shangjia:before {
  content: "\e918";
}

.wa-shouqian:before {
  content: "\e919";
}

.wa-e-mail:before {
  content: "\e91a";
}

.wa-save:before {
  content: "\e91b";
}

.wa-zhaopianqiang:before {
  content: "\e91c";
}

.wa-people:before {
  content: "\e91d";
}

.wa-book:before {
  content: "\e91e";
}

.wa-minus:before {
  content: "\e91f";
}

.wa-new-product-upload:before {
  content: "\e920";
}

.wa-compass:before {
  content: "\e921";
}

.wa-home-pressed:before {
  content: "\e922";
}

.wa-file-text:before {
  content: "\e923";
}

.wa-question-circle:before {
  content: "\e924";
}

.wa-circle:before {
  content: "\e925";
}

.wa-credit-card:before {
  content: "\e926";
}

.wa-vertical-center:before {
  content: "\e927";
}

.wa-horizontal-center:before {
  content: "\e928";
}

.wa-image-full:before {
  content: "\e929";
}

.wa-image-fill:before {
  content: "\e92a";
}

.wa-search:before {
  content: "\e92b";
}

.wa-phone-case:before {
  content: "\e92c";
}

.wa-setting:before {
  content: "\e92d";
}

.wa-cotton:before {
  content: "\e92e";
}

.wa-shear:before {
  content: "\e92f";
}

.wa-quality-testing:before {
  content: "\e930";
}

.wa-eye:before {
  content: "\e931";
}

.wa-order-completed:before {
  content: "\e932";
}

.wa-order-closed:before {
  content: "\e933";
}

.wa-order-not-pay:before {
  content: "\e934";
}

.wa-order-income:before {
  content: "\e935";
}

.wa-category:before {
  content: "\e936";
}

.wa-information:before {
  content: "\e937";
}

.wa-T-Shirt-child:before {
  content: "\e938";
}

.wa-angle-down2:before {
  content: "\e939";
}

.wa-pencil:before {
  content: "\e93a";
}

.wa-pencil-pressed:before {
  content: "\e93b";
}

.wa-new-store:before {
  content: "\e93c";
}

.wa-new-store-pressed:before {
  content: "\e93d";
}

.wa-man:before {
  content: "\e93e";
}

.wa-man-pressed:before {
  content: "\e93f";
}

.wa-rotate:before {
  content: "\e940";
}

.wa-share2:before {
  content: "\e941";
}

.wa-bell-fill:before {
  content: "\e942";
}

.wa-notebook:before {
  content: "\e943";
}

.wa-iPad-case:before {
  content: "\e900";
}

.wa-puzzle:before {
  content: "\e944";
}

.wa-clock:before {
  content: "\e945";
}

.wa-Mat:before {
  content: "\e946";
}

.wa-Key-chain:before {
  content: "\e947";
}

.wa-Round-fan:before {
  content: "\e948";
}

.wa-bell:before {
  content: "\e949";
}

.wa-Pen-bag:before {
  content: "\e94a";
}

.wa-Silk-scarves:before {
  content: "\e94b";
}

.wa-Magnetic-stickers:before {
  content: "\e94c";
}

.wa-pengyouquan:before {
  content: "\e94d";
}

.wa-success:before {
  content: "\e94e";
}

.wa-error:before {
  content: "\e94f";
}

.wa-warning:before {
  content: "\e950";
}

.wa-calendar:before {
  content: "\e951";
}

